{
  "presets": [
    [
      "env", {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        }
      }
    ],
    "react"
  ]
}
