{
  "presets": [
    [
      "@babel/preset-env", {
        "shippedProposals": true,
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ["last 2 versions"],
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "babel-plugin-root-import"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-istanbul"
      ]
    }
  }
}
