{
  "presets": [
    [
      "env", {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-root-import",
    "babel-plugin-transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-istanbul"
      ]
    }
  }
}
